.contacts {
  position: relative;
  width: 100%;
  min-width: 290px;
  padding: 10px 0px;
  border-radius: 10px;
  transition: var(--transition);
  display: flex;
  cursor: pointer;
  justify-content: left;
  align-items: center;
  pointer-events: fill;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.contacts:hover {
  transition: var(--transition-static);
  background-color: var(--opacity-box);
}

.contactActive {
  transition: var(--transition);
  color: var(--white);
  background-color: var(--primary);
}

.contactActive span {
  color: var(--white);
}

.contactActive:hover {
  transition: var(--transition-static);
  color: var(--white);
  background-color: var(--primary);
}

.contactsPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.bookMarkerWrapper {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 7.5px;
}

.bookMarkerWrapper svg {
  width: 35px;
  height: 35px;
  fill: var(--white);
}

.bookMarkerWrapperOn {
  background-color: var(--white);
}

.bookMarkerWrapperOn svg {
  fill: var(--primary);
}

.contactsPhoto span {
  display: block;
  color: var(--white);
  font-weight: 600;
}

.contactsPhoto img {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  max-width: 300px;
  width: 100%;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contactName {
  font-weight: 600;
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contactMessage {
  margin-top: 5px;
  color: var(--text-sixth);
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contactDate {
  display: flex;
  position: absolute;
  right: 15px;
  top: 15px;
  gap: 10px;
  align-items: center;
  font-size: 12px;
  color: var(--text-second);
}

.wrapperIcon {
  width: 20px;
  height: 20px;
  fill: var(--icon-first);
}

.wrapperIconOne {
  fill: var(--primary);
}

.wrapperIconMark {
  fill: var(--white);
}

.wrapperIconMarkNotRead {
  fill: var(--text-fourth);
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 30px;
}
