.loadingWrapper {
  display: flex;
  gap: 5px;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  left: 0px;
  bottom: 20px;
  padding: 5px;
  max-width: 420px;
  pointer-events: none;
  user-select: none;
  width: 100%;
}

.loading,
.error {
  display: flex;
  gap: 20px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  align-items: center;
  border: 1px solid var(--border-second);
  background-color: var(--opacity-box-second);
  backdrop-filter: blur(30px);
  transition: var(--transition-static);
  width: 100%;
}

.copy {
  padding: 10px 30px 10px 15px;
}

.loading p {
  font-size: 16px;
  color: var(--text-first);
}

.error {
  width: 100%;
  padding: 5px 15px;
  background-color: rgba(217, 72, 72, 0.4);
  border: 1px solid var(--error);
}

.error p {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-first);
  word-break: break-all;
  width: 100%;
}

.loadingIcon {
  width: 25px;
  height: 25px;
  position: relative;
}

.errorIcon {
  height: 25px;
  width: 25px;
  transform: rotate(180deg);
}

.copyIcon {
  width: 20px;
  height: 20px;
}

.copyIcon svg {
  width: 20px;
  height: 20px;
  fill: var(--text-first);
}

.loadingIcon svg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: -80%;
  width: 60px;
  height: 60px;
  pointer-events: none;
}

.loadingIcon svg circle {
  stroke: var(--primary);
}

.removeWrapper {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  pointer-events: fill;
  user-select: all;
}

.removeIcon {
  min-width: 25px;
  height: 25px;
  transition: var(--transition-static);
  border-radius: 50%;
}

.removeIcon:hover {
  transition: var(--transition-static);
  background-color: var(--opacity-box-dark);
}

@media screen and (max-width: 600px) {
  .loadingWrapper {
    width: 100%;
  }
}
