.loadingWrapper {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 420px;
  padding: 5px;

  user-select: none;
  pointer-events: none;
  gap: 5px;
}

.loading,
.error {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 5px 15px;

  transition: var(--transition-static);

  border: 1px solid var(--border-second);
  border-radius: 10px;
  background-color: var(--opacity-box-second);
  gap: 20px;
  backdrop-filter: blur(30px);
}

.copy {
  padding: 10px 30px 10px 15px;
}

.loading p {
  color: var(--text-first);

  font-size: 16px;
}

.error {
  width: 100%;
  padding: 5px 15px;

  border: 1px solid var(--error);
  background-color: rgb(217 72 72 / 40%);
}

.error p {
  width: 100%;

  word-break: break-all;

  color: var(--text-first);

  font-size: 16px;
  font-weight: 600;
}

.loadingIcon {
  position: relative;

  width: 25px;
  height: 25px;
}

.errorIcon {
  width: 25px;
  height: 25px;

  transform: rotate(180deg);
}

.copyIcon {
  width: 20px;
  height: 20px;
}

.copyIcon svg {
  width: 20px;
  height: 20px;
  fill: var(--text-first);
}

.loadingIcon svg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: -80%;

  width: 60px;
  height: 60px;

  pointer-events: none;
}

.loadingIcon svg circle {
  stroke: var(--primary);
}

.removeWrapper {
  width: 25px;
  height: 25px;

  cursor: pointer;
  user-select: all;
  pointer-events: fill;

  border: none;
  border-radius: 50%;
  background: none;
}

.removeIcon {
  min-width: 25px;
  height: 25px;

  transition: var(--transition-static);

  border-radius: 50%;
}

.removeIcon:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box-dark);
}

@media screen and ( max-width: 600px ) {
  .loadingWrapper {
    top: 40px;
    bottom: inherit;

    width: 100%;
    max-width: 600px;
  }
}
