.contactWrapper {
  display: flex;
  flex-direction: column;

  width: 75px;
  padding: 10px;

  cursor: pointer;
  user-select: none;
  transition: var(--transition);
  text-align: center;
  pointer-events: inherit;

  border-radius: 10px;
  gap: 5px;
  -webkit-touch-callout: none;
}

.contactWrapper:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.contactWrapperOn,
.contactWrapperOn:hover {
  color: var(--white);
  background-color: var(--primary);
}

.contactWrapperClick,
.contactWrapperClick:hover {
  color: var(--white);
  background-color: var(--primary);
}

.contactPhoto {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 55px;
  height: 55px;

  color: var(--white);
  border-radius: 50%;

  font-weight: 600;
}

.contactWrapper p {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 13px;
}

.contactImage {
  width: 55px;
  height: 55px;
  object-fit: cover;

  border-radius: 50%;
  object-position: center center;
}
