.contacts {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: left;

  width: 100%;
  min-width: 290px;
  height: 75px;

  cursor: pointer;
  user-select: none;
  transition: var(--transition);
  pointer-events: fill;

  border-radius: 15px;
  -webkit-touch-callout: none;
}

.contacts:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.contactActive {
  transition: var(--transition);

  color: var(--white);
  background-color: var(--primary);
}

.contactActive span {
  color: var(--white);
}

.contactActive:hover {
  transition: var(--transition-static);

  color: var(--white);
  background-color: var(--primary);
}

.contactsPhoto {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 50px;
  height: 50px;
  margin-left: 10px;

  pointer-events: none;

  border-radius: 50%;
}

.contactsPhoto span {
  display: block;

  color: var(--white);

  font-weight: 600;
}

.contactInfo {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 300px;
  margin-left: 10px;

  pointer-events: none;
}

.contactName {
  overflow: hidden;

  padding: 0 5px 0 0;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--text-first);

  font-size: 15px;
}

.contactMessage {
  overflow: hidden;

  margin-top: 5px;
  padding: 0 5px 0 0;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--text-second);

  font-size: 14px;
}

.menuChat {
  position: absolute;
  z-index: 1;

  width: 200px;
  padding: 5px;

  user-select: none;
  transition: var(--transition);
  transform-origin: left top;
  pointer-events: none;

  opacity: 0;
  border-radius: 10px;
  background-color: var(--opacity-box-second);
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  backdrop-filter: blur(30px);
  -webkit-touch-callout: none;
}

.menuChatOn {
  z-index: 5;

  transition: var(--transition);
  pointer-events: all;

  opacity: 1;
}

.menuCard {
  display: flex;
  align-items: center;

  padding: 5px 15px;

  cursor: pointer;
  transition: var(--transition-static);

  border-radius: 5px;
  gap: 20px;
}

.menuCard:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.menuCard p {
  color: var(--text-first);

  font-size: 14px;
  font-weight: 600;
}

.iconDeleteMenu {
  width: 20px;
  height: 20px;
  fill: var(--icon-second);
}

.imageContact {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}
