.wrapper {
  position: relative;
}

.placeholder {
  position: absolute;
  color: var(--gray);
  font-size: 13px;
  cursor: text;
  top: -8px;
  left: 15px;
  height: 9px;
  background-color: white;
  padding: 0 3px;
  transition: all 0.1s;
  pointer-events: none;
}

.labelOn {
  color: var(--blue);
  transition: all 0.1s;
  font-weight: 600;
}

.input {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 17px;
  background: inherit;
  transition: all 0.1s;
  border: 1px solid var(--gray-middle);
}

.input:hover {
  border: 1px solid var(--blue);
  transition: all 0.1s;
}

.input:focus {
  transition: all 0.1s;
  border: 1px solid var(--blue);
  outline: var(--blue) solid 1px;
}

.error {
  transition: all 0.1s;
  border: 1px solid var(--error);
}

.error:hover {
  transition: all 0.1s;
  border: 1px solid var(--error);
}

.error:focus {
  transition: all 0.1s;
  border: 1px solid var(--error);
  outline: var(--error) solid 1px;
}

.errorLabel {
  color: var(--error);
  transition: all 0.1s;
}

.password {
  padding-right: 50px;
}

.eyeWrapper {
  position: absolute;
  right: 10px;
  top: 12px;
}

.eye {
  width: 30px;
  height: 30px;
  stroke: var(--gray);
  cursor: pointer;
}

.eyeOn {
  stroke: var(--blue);
}

.errorOn {
  stroke: var(--error);
}
