.main {
  width: 100%;
  height: 100%;
  display: flex;
}

.chatWrapper {
  position: relative;
  width: 625px;
  height: 100vh;
  border-right: 1px solid var(--gray-light);
}

.menuWrapper {
  padding: 8px 15px;
  border-bottom: 1px solid var(--gray-light);
  display: flex;
}
.menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  transition: all 0.3s;
  position: relative;
  margin-right: 7px;
  cursor: pointer;
}

.menu:hover {
  transition: all 0.3s;
  background-color: var(--light);
}

.line {
  pointer-events: none;
  width: 18px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--gray);
  display: block;
  position: absolute;
  top: 14px;
  left: 11px;
}

.line::after {
  pointer-events: none;
  position: absolute;
  top: 10px;
  content: "";
  width: 18px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--gray);
  display: block;
}

.line::before {
  pointer-events: none;
  position: absolute;
  top: 5px;
  content: "";
  width: 18px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--gray);
  display: block;
}

.search {
  border-radius: 40px;
  border: 1px solid var(--gray-light);
  padding: 11px 45px;
  width: 85%;
  font-size: 16px;
  color: var(--dark);
  transition: all 0.3s;
}

.search:hover {
  transition: all 0.3s;
  border: 1px solid var(--gray-dark);
}

.search:focus {
  transition: all 0.3s;
  border: 1px solid var(--blue);
  outline: 1px solid var(--blue);
}

.serchWrapper {
  position: relative;
}

.iconSearch {
  position: absolute;
  top: 8px;
  left: 14px;
  width: 24px;
  height: 24px;
  fill: var(--gray-dark);
  transition: all 0.3s;
}

.focusSearch {
  transition: all 0.3s;
  fill: var(--blue);
}

.iconRemove {
  width: 30px;
  height: 30px;
  fill: var(--blue);
  pointer-events: none;
}

.buttonRemove {
  opacity: 0;
  padding: 2.5px;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 1px;
  right: -48px;
  border: none;
  cursor: pointer;
  background: none;
  border-radius: 50%;
}

.buttonRemove:hover {
  background-color: rgba(51, 144, 236, 0.3);
}

.focusRemove {
  opacity: 1;
}

.contactsList {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts {
  width: 100%;
  height: 75px;
  border-radius: 15px;
  transition: all 0.3s;
  display: flex;
  cursor: pointer;
  justify-content: left;
  align-items: center;
}

.contacts:hover {
  transition: all 0.3s;
  background-color: var(--light);
}

.contactActive {
  transition: all 0.3s;
  color: white;
  background-color: var(--blue);
}
.contactActive span {
  color: white;
}
.contactActive:hover {
  transition: all 0.3s;
  color: white;
  background-color: var(--blue);
}

.contactsPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  background: linear-gradient(rgb(100, 2, 165), rgb(58, 23, 185));
}

.contactsPhoto span {
  display: block;
  color: var(--light);
  font-weight: 600;
}

.contactInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 300px;
}

.contactName {
  font-weight: 600;
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contactMessage {
  margin-top: 5px;
  color: var(--gray);
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contactDate {
  position: absolute;
  right: -30px;
  font-size: 12px;
  color: var(--gray);
}
