.contactsList {
  overflow-x: hidden;
  overflow-y: hidden;

  height: calc(100vh - 60px);
  padding: 6px;

  background-color: var(--background-first);
}

.swiper {
  overflow-y: overlay;
}

.searchWrapperUsers {
  position: absolute;
  z-index: 0;

  display: flex;
  overflow-x: hidden;
  overflow-y: overlay;
  flex-direction: column;

  width: 100%;
  min-width: 300px;
  height: 92vh;

  transition: var(--transition);
  transform: scale(1.05);
  pointer-events: none;

  opacity: 0;
  background-color: var(--background-first);
}

.searchWrapperUsersOn {
  z-index: 1;

  transition: var(--transition);
  transform: scale(1);
  pointer-events: all;

  opacity: 1;
}

.contactListWrapper {
  display: flex;
  overflow-x: overlay;
  overflow-y: hidden;

  padding: 6px;

  transition: var(--transition);

  opacity: 1;
  border-bottom: 1px solid var(--border-second);
  gap: 5px;
}

.contactListWrapperOn {
  transition: var(--transition);
  pointer-events: none;

  opacity: 0;
}

.searchWrapper p {
  padding: 20px;

  color: var(--text-second);
}

.results {
  font-size: 12px;
}

.fetchError {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  margin-bottom: 5px;
  padding: 20px 0 20px 80px;

  user-select: none;
  text-align: left;
  pointer-events: none;

  border-radius: 10px;
  background-color: var(--fetch);
}

.fetchError p {
  color: var(--black);

  font-size: 18px;
}

.fetchErrorLoading {
  position: absolute;
  left: 0;

  width: 80px;
  height: 80px;
}

.fetchErrorLoading circle {
  display: block;
  stroke: var(--black);
}
