.message {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--primary-light);
  max-width: 480px;
  justify-content: flex-end;
  padding: 6px 10px;
  border-radius: 10px;
  align-self: end;
  margin-top: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textMessageWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  gap: 5px;
}

.messageTextWrap {
  flex-direction: row;
}

.messageUser {
  align-self: start;
  background-color: var(--background-first);
}

.wrapperUserId {
  align-self: end;
  background-color: var(--primary-light);
}

.messageDown {
  margin-bottom: 10px;
}

.messageText {
  font-size: 16px;
  z-index: 1;
  pointer-events: none;
  cursor: text;
  word-break: break-all;
  pointer-events: none;
  color: var(--text-first);
}

.messageTextLen {
  margin-top: 8px;
  height: 0px;
}

.messageTextReply {
  flex-direction: row;
}

.bottoMessage {
  display: flex;
  gap: 5px;
  height: 16px;
  white-space: nowrap;
  justify-content: flex-end;
  pointer-events: none;
  align-items: center;
}

.messageEdit {
  font-style: italic;
  font-size: 12px;
  color: var(--text-seventh);
  z-index: 1;
}

.messageDate {
  font-size: 12px;
  color: var(--text-seventh);
  z-index: 1;
}

.receipt {
  color: var(--text-sixth);
}

.tailIcon {
  display: none;
}

.messageStyleLeft,
.messageStyleRight {
  display: block;
  pointer-events: none;
  position: absolute;

  width: 20px;
  height: 20px;

  right: -6px;
  bottom: -3px;

  fill: var(--primary-light);
  transform: rotate(2deg);
  z-index: 0;
}

.messageStyleRight {
  display: block;
  right: auto;
  left: -6px;
  transform: rotate(-2deg);
  fill: var(--background-first);
}

.messageReply {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.textWrapper {
  max-width: 390px;
  width: 100%;
  pointer-events: none;
}

.textMessage {
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.textMessage,
.messageWrapperEdit {
  padding-left: 5px;
  border-left: 2px solid var(--primary);
  pointer-events: none;
}

.messageWrapperEdit {
  font-size: 14px;
  color: var(--primary);
}

.messageWrapperUser {
  border-color: var(--text-first);
  color: var(--text-first);
}

.wrapperReply {
  display: flex;
  flex-direction: column;
}

.messageRead {
  width: 20px;
  height: 20px;
  fill: var(--text-seventh);
}

.readMessage {
  fill: var(--primary);
}

.readMessageUser {
  fill: var(--white);
}
