.message {
  position: relative;

  display: flex;
  align-self: end;
  flex-direction: column;
  justify-content: flex-end;

  max-width: 480px;
  margin-top: 2px;
  padding: 6px 10px;

  user-select: none;

  border-radius: 10px;
  background-color: var(--primary-light);
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);

  -webkit-touch-callout: none;
}

.textMessageWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  pointer-events: none;
  gap: 5px;
}

.messageTextWrap {
  flex-direction: row;
}

.messageUser {
  align-self: start;

  background-color: var(--background-first);
}

.wrapperUserId {
  align-self: end;

  background-color: var(--primary-light);
}

.messageDown {
  margin-bottom: 10px;
}

.messageText {
  z-index: 1;

  cursor: text;
  word-break: break-all;
  pointer-events: none;

  color: var(--text-first);

  font-size: 16px;
}

.messageTextLen {
  height: 0;
  margin-top: 8px;
}

.messageTextReply {
  flex-direction: row;
}

.bottomMessage {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 16px;

  white-space: nowrap;
  pointer-events: none;
  gap: 5px;
}

.messageEdit {
  z-index: 1;

  color: var(--text-seventh);

  font-size: 12px;
  font-style: italic;
}

.messageDate {
  z-index: 1;

  color: var(--text-seventh);

  font-size: 12px;
}

.receipt {
  color: var(--text-sixth);
}

.tailIcon {
  display: none;
}

.messageStyleLeft,
.messageStyleRight {
  position: absolute;
  z-index: 0;

  right: -6px;
  bottom: -3px;

  display: block;

  width: 20px;
  height: 20px;

  transform: rotate(2deg);
  pointer-events: none;

  fill: var(--primary-light);
}

.messageStyleRight {
  right: auto;
  left: -6px;

  display: block;

  transform: rotate(-2deg);
  fill: var(--background-first);
}

.messageReply {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 500px;

  user-select: none;
  pointer-events: none;
}

.textWrapper {
  width: 100%;
  max-width: 390px;

  pointer-events: none;
}

.textMessage {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 13px;
}

.textMessage,
.messageWrapperEdit {
  padding-left: 5px;

  pointer-events: none;

  border-left: 2px solid var(--primary);
}

.messageWrapperEdit {
  color: var(--primary);

  font-size: 14px;
}

.messageWrapperUser {
  color: var(--text-first);
  border-color: var(--text-first);
}

.wrapperReply {
  display: flex;
  flex-direction: column;
}

.messageRead {
  width: 20px;
  height: 20px;
  fill: var(--border-first);
}

.readMessage {
  fill: var(--primary);
}

.readMessageUser {
  fill: var(--text-first);
}
