.inputWrapper {
  position: relative;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  background-color: var(--background-third);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 8px 0px;
}

.input {
  position: relative;
  padding: 10px;
  border: none;
  outline: none;
  max-width: 390px;
  width: 100%;
  font-size: 16px;
  resize: none;
  color: var(--text-first);
  background-color: var(--background-third);
}

.texareaOff {
  max-height: 40px;
}

.smileIconWrapper {
  z-index: 1;
  display: block;
  position: absolute;
  width: 27px;
  height: 27px;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
  border: none;
  background: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.send {
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 8px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 50%;
  border: none;
}

.sendIcon {
  width: 23px;
  height: 23px;
  fill: var(--white);
  pointer-events: none;
}
.smileIcon {
  width: 27px;
  height: 27px;
}

.smileIcon path {
  fill: var(--icon-first);
}

.emojiIconOn path {
  fill: var(--primary);
}

.emojiWrapper {
  pointer-events: none;
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  bottom: 70px;
  left: 0px;
  transform: scale(0.3);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
  opacity: 0;
  transform-origin: left bottom;
  user-select: none;
  display: none;
}

.emojiWrapperOn {
  display: block;
  opacity: 1;
  pointer-events: inherit;
  user-select: inherit;
  transition: var(--transition);
  bottom: 70px;
  left: 0px;
  transform: scale(1);
}

.messageReply {
  max-width: 500px;
  width: 100%;
  display: flex;
  background-color: var(--background-third);
  border-radius: 15px 15px 0px 0px;
  padding: 10px;
  align-items: center;
  user-select: none;
}

.textMessage {
  font-size: 13px;
  color: var(--text-sixth);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.textMessage,
.messageWrapperEdit {
  padding-left: 5px;
  border-left: 2px solid var(--primary);
}

.messageWrapperEdit {
  font-size: 14px;
  color: var(--primary);
}

.iconEditMessage {
  min-width: 25px;
  height: 25px;
  margin: 0px 10px;
}

.iconEditMessage path {
  fill: var(--primary);
}

.iconRemoveEdit {
  justify-tracks: flex-end;
  min-width: 35px;
  height: 35px;
  fill: var(--primary);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition-static);
}

.iconRemoveEdit:hover {
  transition: var(--transition-static);
  background-color: var(--primary-opacity);
}

.textWrapper {
  max-width: 390px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .inputWrapper {
    width: 100%;
    align-items: left;
    padding: 8px 0px;
  }

  .input {
    margin-left: 10px;
    margin-right: 50px;
    max-width: 500px;
    width: calc(100% - 60px);
  }

  .smileIconWrapper {
    display: none;
  }
}
