.inputWrapper {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 500px;
  padding: 8px 0;

  border-radius: 15px;
  background-color: var(--background-third);
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}

.input {
  position: relative;

  width: 100%;
  max-width: 390px;
  padding: 10px;

  resize: none;

  color: var(--text-first);
  border: none;
  outline: none;
  background-color: var(--background-third);

  font-size: 16px;
}

.textareaOff {
  max-height: 40px;
}

.smileIconWrapper {
  position: absolute;
  z-index: 1;
  bottom: 15px;
  left: 15px;

  display: block;
  align-items: center;
  justify-content: center;

  width: 27px;
  height: 27px;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  background: none;
}

.send {
  position: absolute;
  z-index: 1;
  right: 5px;
  bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  background-color: var(--primary);
}

.sendIcon {
  width: 23px;
  height: 23px;
  fill: var(--white);

  pointer-events: none;
}

.smileIcon {
  width: 27px;
  height: 27px;
}

.smileIcon path {
  fill: var(--icon-first);
}

.emojiIconOn path {
  fill: var(--primary);
}

.emojiWrapper {
  position: absolute;
  z-index: 1;
  bottom: 70px;
  left: 0;

  display: none;
  overflow: hidden;

  user-select: none;
  transition: var(--transition);
  transform: scale(0.3);
  transform-origin: left bottom;
  pointer-events: none;

  opacity: 0;
  border-radius: 15px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
}

.emojiWrapperOn {
  bottom: 70px;
  left: 0;

  display: block;

  user-select: inherit;
  transition: var(--transition);
  transform: scale(1);
  pointer-events: inherit;

  opacity: 1;
}

.messageReply {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 500px;
  padding: 10px;

  user-select: none;

  border-radius: 15px 15px 0 0;
  background-color: var(--background-third);
}

.textMessage {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--text-sixth);

  font-size: 13px;
}

.textMessage,
.messageWrapperEdit {
  padding-left: 5px;

  border-left: 2px solid var(--primary);
}

.messageWrapperEdit {
  color: var(--primary);

  font-size: 14px;
}

.iconEditMessage {
  min-width: 25px;
  height: 25px;
  margin: 0 10px;
}

.iconEditMessage path {
  fill: var(--primary);
}

.iconRemoveEdit {
  justify-content: flex-end;

  min-width: 35px;
  height: 35px;
  margin: 0 5px;

  cursor: pointer;
  transition: var(--transition-static);

  border-radius: 50%;
  fill: var(--primary);
}

.iconRemoveEdit:hover {
  transition: var(--transition-static);

  background-color: var(--primary-opacity);
}

.textWrapper {
  width: 100%;
  max-width: 390px;
}

@media screen and ( max-width: 1200px ) {
  .inputWrapper {
    align-items: left;

    width: 100%;
    padding: 8px 0;
  }

  .input {
    width: calc(100% - 60px);
    max-width: 500px;
    margin-right: 50px;
    margin-left: 10px;
  }

  .smileIconWrapper {
    display: none;
  }
}
