.contacts {
  width: 100%;
  height: 75px;
  border-radius: 15px;
  transition: var(--transition);
  display: flex;
  cursor: pointer;
  justify-content: left;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.contacts:hover {
  transition: var(--transition);
  background-color: var(--opacity-box);
}

.contactActive {
  transition: var(--transition);
  color: var(--white);
  background-color: var(--primary);
}

.contactActive span {
  color: var(--white);
}

.contactActive:hover {
  transition: var(--transition);
  color: var(--white);
  background-color: var(--primary);
}

.contactsPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  pointer-events: none;
}

.contactsPhoto span {
  display: block;
  color: var(--white);
  font-weight: 600;
}

.contactInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 300px;
  pointer-events: none;
}

.contactName {
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  overflow: hidden;
  color: var(--text-first);
}

.contactMessage {
  margin-top: 5px;
  color: var(--text-second);
  padding: 0 5px 0 0;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menuChat {
  position: absolute;
  background-color: var(--opacity-box-second);
  backdrop-filter: blur(30px);
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: left top;
  transition: var(--transition);
}
.menuChatOn {
  transition: var(--transition);
  opacity: 1;
  pointer-events: all;
  z-index: 5;
}

.menuCard {
  display: flex;
  transition: var(--transition);
  border-radius: 5px;
  align-items: center;
  padding: 5px 15px;
  gap: 20px;
  cursor: pointer;
}

.menuCard:hover {
  transition: var(--transition);
  background-color: var(--opacity-box);
}

.menuCard p {
  color: var(--theme-light-text-first);
  font-size: 14px;
  font-weight: 600;
}

.iconDeleteMenu {
  width: 20px;
  height: 20px;
  fill: var(--theme-light-icon-second);
}
