.contacts {
  width: 100%;
  height: 75px;
  border-radius: 15px;
  transition: all 0.3s;
  display: flex;
  cursor: pointer;
  justify-content: left;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contacts:hover {
  transition: all 0.3s;
  background-color: var(--light);
}

.contactActive {
  transition: all 0.3s;
  color: white;
  background-color: var(--blue);
}
.contactActive span {
  color: white;
}
.contactActive:hover {
  transition: all 0.3s;
  color: white;
  background-color: var(--blue);
}

.contactsPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.contactsPhoto span {
  display: block;
  color: var(--light);
  font-weight: 600;
}

.contactInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 300px;
}

.contactName {
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  overflow: hidden;
}

.contactMessage {
  margin-top: 5px;
  color: var(--gray);
  padding: 0 5px 0 0;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
