.headerReceiptWrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 8px 20px;

  user-select: none;

  border-bottom: 1px solid var(--border-second);
  background-color: var(--background-first);
  gap: 20px;

  -webkit-touch-callout: none;
}

.headerWrapper {
  display: flex;
  align-items: center;

  width: 100%;

  cursor: pointer;
  gap: 20px;
}

.headerReceiptPhoto {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  height: 40px;

  pointer-events: none;

  border-radius: 50%;
}

.receiptNamePhoto {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: var(--white);

  font-weight: 600;
}

.headerReceiptInfo {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 600px;

  pointer-events: none;
}

.infoName {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--text-first);

  font-weight: 600;
}

.infoDate {
  white-space: nowrap;

  color: var(--text-second);

  font-size: 13px;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  height: 40px;
  margin-left: 10px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 50%;
  background-color: initial;
}

.delete:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.dot {
  width: 5px;
  height: 5px;

  pointer-events: none;

  border-radius: 50%;
  background-color: var(--icon-first);
}

.dot::before {
  display: block;

  width: 5px;
  height: 5px;
  margin-top: 8px;

  content: "";
  pointer-events: none;

  border-radius: 50%;
  background-color: var(--icon-first);
}

.dot::after {
  display: block;

  width: 5px;
  height: 5px;
  margin-top: -21px;

  content: "";
  pointer-events: none;

  border-radius: 50%;
  background-color: var(--icon-first);
}

.menuMessageWrapper {
  position: absolute;
  z-index: 2;
  right: 15px;
  bottom: -40px;

  padding: 5px;

  transition: var(--transition);
  pointer-events: none;

  opacity: 0;
  border-radius: 10px;
  background-color: var(--opacity-box-second);
  backdrop-filter: blur(30px);
}

.menuMessageWrapperOn {
  transition: var(--transition);
  pointer-events: all;

  opacity: 1;
}

.removeIcon {
  width: 20px;
  height: 20px;
  stroke: var(--icon-second);
}

.deleteButton {
  display: flex;
  align-items: center;

  padding: 5px 20px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 5px;
  background-color: initial;
  gap: 20px;
}

.deleteButton:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box-dark);
}

.deleteButton span {
  color: var(--icon-second);

  font-size: 14px;
  font-weight: 600;
}

.imageSender {
  display: block;

  width: 40px;
  height: 40px;
  object-fit: cover;
}

.buttonBackMain {
  display: none;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  height: 40px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 50%;
  background: none;
}

.buttonBackMain:hover {
  background: var(--opacity-box-dark);
}

.buttonBackMain svg {
  width: 23px;
  height: 23px;

  transition: var(--transition);
}

.buttonBackMain svg path {
  fill: var(--icon-first);

  width: 30px;
}

.menuMainOn {
  transition: var(--transition);
  transform: rotateY(180deg);
}

.bookmarkIconHeaderMessageWrapper {
  min-width: 40px;
  height: 40px;
  padding: 5px;

  border-radius: 50%;
  background-color: var(--primary);
  fill: var(--white);
}

@media screen and ( max-width: 1000px ) {
  .buttonBackMain {
    display: flex;
  }
}
