.svg {
  width: 160px;
  height: 160px;
  margin: 0 auto;

  fill: var(--primary);
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
  text-align: center;
  margin: 100px auto 0px;
  width: 100%;
  padding: 0px 10px 50px 10px;
  max-width: 400px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.head {
  margin-top: 30px;
  font-size: 30px;
  cursor: default;
  word-wrap: break-word;
  user-select: none;
}
.text {
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-second);
  cursor: default;
  word-wrap: break-word;
  user-select: none;
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 30px;
}

.button {
  position: relative;
  width: 100%;
  padding: 18px 0;
  font-size: 17px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: var(--transition-static);
}

.button:hover {
  transition: var(--transition-static);
  background-color: var(--primary-dark);
}

.loading {
  position: absolute;
  top: -24px;
  right: -24px;
}

.loading svg circle {
  stroke: var(--white);
}

.link {
  font-size: 14px;
  margin-top: -15px;
  color: var(--text-second);
  cursor: default;
  pointer-events: none;
}
.reg {
  color: var(--primary);
  cursor: pointer;
  pointer-events: all;
}

.input {
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  resize: none;
  background-color: var(--background-first);
  color: var(--text-first);
  outline: none;
  width: 100%;
}

.input:hover {
  border: 1px solid var(--primary);
}

.input::placeholder {
  font-size: 17px;
}

.informationUser {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--border-first);
}

.informationUser img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.informationUser span {
  display: flex;
  gap: 10px;
}

.informationUser div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  overflow: hidden;
}

.informationUser p {
  font-weight: 600;
  color: var(--text-first);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .form {
    margin-top: 30px;
  }

  .svg {
    width: 130px;
    height: 130px;
  }
}
