.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: var(--transition-static);
  overflow: hidden;
  background: var(--background-fourth);
}

.profileWrap {
  width: 0;
  transition: var(--transition);
}

.profileOn {
  transition: var(--transition);
  width: 420px;
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chatsWrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding: 10px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  min-height: min-content;
}

.wrapperWithDate {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dateMessage {
  font-size: 14px;
  background-color: var(--background-second);
  color: var(--text-sixth);
  padding: 5px 10px;
  width: 110px;
  text-align: center;
  border-radius: 10px;
  margin: 10px auto;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inputWrap {
  width: 100%;
  max-width: 600px;
  display: flex;
  margin: 0 auto;
  z-index: 1;
  padding: 0 10px;
  justify-content: center;
  bottom: 0;
  padding-bottom: 10px;
}

.backgroundDark {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/png/animal.dark.png");
}

.backgroundLight {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/png/animal.light.png");
}

.backgroundWrapper {
  width: 100%;
}

@media screen and (max-width: 1275px) {
  .profileWrap {
    position: absolute;
    width: 420px;
    right: -425px;
  }

  .profileOn {
    right: 0px;
  }
}

@media screen and (max-width: 1350px) and (min-width: 1275px) {
  .profileOn {
    width: 320px;
  }
}
