.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: var(--transition-static);
  overflow: hidden;
  background: var(--background-fourth);
}

.profileWrap {
  width: 0;
  transition: var(--transition);
}

.profileOn {
  transition: var(--transition);
  width: 320px;
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chatsWrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding: 10px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  min-height: min-content;
}

.wrapperWithDate {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dateMessage {
  font-size: 14px;
  background-color: var(--background-second);
  color: var(--text-sixth);
  padding: 5px 10px;
  width: 110px;
  text-align: center;
  border-radius: 10px;
  margin: 10px auto;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inputWrap {
  width: 100%;
  max-width: 600px;
  display: flex;
  margin: 0 auto 30px;
  z-index: 1;
  padding: 0 10px;
  justify-content: center;
  bottom: 0;
  padding-bottom: 10px;
}

.backgroundDark {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/png/animal.dark.avif");
}

.backgroundLight {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/png/animal.light.avif");
}

.backgroundWrapper {
  width: 100%;
}

.buttonLoadMessage {
  margin: 20px auto;
  width: 150px;
  padding: 8px 0px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: var(--primary);
  color: var(--white);
  transition: var(--transition-static);
}

.buttonLoadMessage:hover {
  background: var(--primary-dark);
  transition: var(--transition-static);
}

@media screen and (max-width: 1275px) and (min-width: 1000px) {
  .profileWrap {
    position: absolute;
    width: 320px;
    right: -325px;
  }

  .profileOn {
    right: 0px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .profileWrap {
    position: absolute;
    width: 320px;
    right: -325px;
  }

  .profileOn {
    right: 0px;
  }

  .wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .wrapperMainOn {
    right: -420px;
    transition: var(--transition-static);
  }
}

@media screen and (max-width: 1350px) and (min-width: 1275px) {
  .profileOn {
    width: 320px;
  }
}

@media screen and (max-width: 600px) {
  .inputWrap {
    margin-bottom: 0px;
  }
  .profileWrap {
    position: absolute;
    width: 100%;
    right: -105%;
  }

  .profileOn {
    right: 0px;
  }

  .wrapper {
    position: absolute;
    width: 100%;
    right: 0;
  }

  .wrapperMainOn {
    position: absolute;
    right: -105%;
    width: 0%;
    transition: var(--transition-static);
  }
}
