.editWrapper {
  position: absolute;
  top: 0;
  right: -425px;
  width: 420px;
  height: 100vh;
  background-color: var(--background-second);
  display: flex;
  transition: var(--transition);
  z-index: 2;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editWrapperOpen {
  right: 0px;
  transition: var(--transition);
}

.editHead {
  display: flex;
  padding: 9px 15px;
  background-color: var(--background-first);
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.editHead div {
  display: flex;
  align-items: center;
}

.editHead h2 {
  margin-left: 15px;
  font-size: 19px;
  pointer-events: none;
  color: var(--text-first);
}

.editPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  margin: 10px auto;
  color: var(--white);
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}

.editUser {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  background-color: var(--background-first);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.editInfo {
  text-align: left;
  color: var(--text-sixth);
  font-size: 13px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.usernameEdit {
  font-size: 15px;
  color: var(--primary);
}

.back {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transition: var(--transition-static);
}

.back:hover {
  transition: var(--transition-static);
  background-color: var(--opacity-box);
}

.backIcon {
  width: 20px;
  height: 20px;
}

.backIcon path {
  fill: var(--icon-first);
}

.supheed {
  display: flex;
  pointer-events: none;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px var(--opacity-box-dark);
  opacity: 0;
  fill: var(--white);
  transition: var(--transition-static);
}

.supheed svg {
  width: 35px;
  height: 35px;
}

.error {
  font-size: 13px;
  margin-top: -20px;
  color: var(--error);
}

.submit {
  cursor: pointer;
  pointer-events: all;
  opacity: 1;
  transition: var(--transition-static);
}

.contactsList {
  overflow-y: hidden;
}

.swiper {
  overflow-y: overlay;
}

.info {
  padding-bottom: 20px;
}

.userImage {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 2;
  pointer-events: none;
  display: block;
  object-fit: cover;
}

.uploadWrapper {
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.uploadPhoto {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  background: none;
}

.iconPhotoWrapper {
  top: 0;
  position: absolute;
  z-index: 2;
  min-width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 50%;
}

.iconPhotoWrapper svg {
  width: 40px;
  height: 40px;
  transition: var(--transition-static);
}

.uploadWrapper:hover svg {
  width: 50px;
  height: 50px;
  transition: var(--transition-static);
}

.iconPhotoWrapper svg path {
  fill: var(--white);
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  display: none;
}

.wrapperLoadNoPhoto {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (min-height: 1250px) {
  .contactsList {
    overflow-y: hidden;
  }
}

@media screen and (max-width: 600px) {
  .editWrapper {
    right: -105%;
    width: 100%;
  }

  .editWrapperOpen {
    right: 0px;
  }
}
