.search {
  border-radius: 40px;
  border: 1px solid var(--border-second);
  padding: 9px 45px;
  width: 330px;
  font-size: 16px;
  color: var(--text-first);
  transition: var(--transition-static);
  background-color: var(--background-third);
}

.search:hover {
  transition: var(--transition-static);
  border: 1px solid var(--border-first);
}

.search:focus {
  transition: var(--transition-static);
  border: 1px solid var(--primary);
  outline: 1px solid var(--primary);
  background-color: var(--background-first);
}

.searchWrapper {
  position: relative;
}

.iconSearch {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 21px;
  height: 21px;
  fill: var(--icon-first);
  transition: var(--transition-static);
}

.focusSearch {
  transition: var(--transition-static);
  fill: var(--primary);
}

.iconRemove {
  width: 30px;
  height: 30px;
  fill: var(--primary);
  pointer-events: none;
}

.buttonRemove {
  opacity: 0;
  padding: 2.5px;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 2px;
  right: 1px;
  border: none;
  cursor: pointer;
  background: none;
  border-radius: 50%;
}

.buttonRemove:hover {
  background-color: var(--primary-opacity);
}

.focusRemove {
  opacity: 1;
}
