.search {
  display: flex;

  width: 100%;
  padding: 9px 45px;

  transition: var(--transition-static);

  color: var(--text-first);
  border: 1px solid var(--border-second);
  border-radius: 40px;
  outline: none;
  background-color: var(--background-third);

  font-size: 16px;
}

.search:hover {
  transition: var(--transition-static);

  border: 1px solid var(--border-first);
}

.search:focus {
  transition: var(--transition-static);

  border: 1px solid var(--primary);
  background-color: var(--background-first);
  box-shadow: 0 0 0 1px var(--primary);
}

.searchWrapper {
  position: relative;

  width: 100%;
}

.iconSearch {
  position: absolute;
  top: 10px;
  left: 14px;

  width: 21px;
  height: 21px;

  user-select: none;
  transition: var(--transition-static);
  pointer-events: none;
  fill: var(--icon-first);
}

.focusSearch {
  transition: var(--transition-static);
  fill: var(--primary);
}

.iconRemove {
  width: 30px;
  height: 30px;
  fill: var(--primary);

  pointer-events: none;
}

.buttonRemove {
  position: absolute;
  top: 2px;
  right: 1px;

  width: 35px;
  height: 35px;
  padding: 2.5px;

  cursor: pointer;
  pointer-events: none;

  opacity: 0;
  border: none;
  border-radius: 50%;
  background: none;
}

.buttonRemove:hover {
  background-color: var(--primary-opacity);
}

.focusRemove {
  pointer-events: inherit;

  opacity: 1;
}
