.settingsWrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  right: -425px;

  display: flex;
  flex-direction: column;

  width: 420px;
  height: 100vh;

  user-select: none;
  transition: var(--transition);

  background-color: var(--background-second);
  -webkit-touch-callout: none;
}

.profile {
  position: relative;
  right: 0;

  width: 320px;

  border-left: 1px solid var(--border-second);
}

.settingsWrapperOpen {
  right: 0;

  transition: var(--transition);
}

@media screen and ( max-width: 1350px ) and ( min-width: 1275px ) {
  .profile {
    width: 320px;
  }
}

@media screen and ( max-width: 600px ) {
  .settingsWrapper {
    position: absolute;
    top: 0;
    right: -102%;

    width: 100%;
  }

  .profile {
    position: relative;
    right: 0;

    border-left: 1px solid var(--border-second);
  }

  .settingsWrapperOpen {
    right: 0;

    transition: var(--transition);
  }
}
