.editHead {
  display: flex;
  padding: 9px 15px;
  background-color: var(--background-first);
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.editHead div {
  display: flex;
  align-items: center;
}

.editHead h2 {
  margin-left: 15px;
  font-size: 19px;
  pointer-events: none;
  color: var(--text-first);
}

.back {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transition: var(--transition-static);
}

.back:hover {
  transition: var(--transition-static);
  background-color: var(--opacity-box);
}

.backIcon {
  width: 20px;
  height: 20px;
}

.backIcon path {
  fill: var(--icon-first);
}
