.wrapper {
  position: relative;
}

.placeholder {
  position: absolute;
  color: var(--text-third);
  font-size: 12px;
  cursor: text;
  top: -7px;
  left: 15px;
  height: 9px;
  background-color: var(--background-first);
  padding: 0 3px;
  transition: var(--transition-input);
  pointer-events: none;
}

.labelOn {
  color: var(--primary);
  transition: var(--transition-input);
  font-weight: 600;
}

.input {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 17px;
  background: inherit;
  transition: var(--transition-input);
  border: 1px solid var(--border-first);
  color: var(--text-first);
}

.input:hover {
  border: 1px solid var(--primary);
  transition: var(--transition-input);
}

.input:focus {
  transition: var(--transition-input);
  border: 1px solid var(--primary);
  outline: var(--primary) solid 1px;
}

.error {
  transition: var(--transition-input);
  border: 1px solid var(--error);
}

.error:hover {
  transition: var(--transition-input);
  border: 1px solid var(--error);
}

.error:focus {
  transition: var(--transition-input);
  border: 1px solid var(--error);
  outline: var(--error) solid 1px;
}

.errorLabel {
  color: var(--error);
  transition: var(--transition-input);
}

.password {
  padding-right: 50px;
}

.eyeWrapper {
  position: absolute;
  right: 10px;
  top: 12px;
}

.eye {
  width: 30px;
  height: 30px;
  stroke: var(--icon-first);
  cursor: pointer;
}

.eyeOn {
  stroke: var(--primary);
}

.errorOn {
  stroke: var(--error);
}

.checkWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  bottom: -8px;
  transition: var(--transition-static);
}

.checkOne,
.checkTwo,
.checkThree {
  height: 3px;
  background-color: var(--border-first);
  width: 30%;
  border-radius: 10px;
}

.checkOn {
  background-color: var(--error);
}

.checkText {
  background-color: var(--success);
}

.checkTextBefore {
  background-color: var(--fetch);
}

.infoIcon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
  background-color: var(--background-first);
}

.infoIcon svg {
  width: 20px;
  height: 20px;
  stroke: var(--text-second);
}

.notificaText {
  position: absolute;
  top: -40px;
  right: 15px;
  border: 1px solid var(--border-second);
  word-wrap: break-word;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  color: var(--text-first);
  background: var(--background-third);
  transition: var(--transition-static);
  z-index: 3;
}

.checkPasswordNes {
  border-color: var(--error);
}

.checkPasswordNesOn {
  border-color: var(--success);
}
