.editWrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  right: -425px;

  display: flex;
  flex-direction: column;

  width: 420px;
  height: 100vh;

  user-select: none;
  transition: var(--transition);

  background-color: var(--background-second);
  -webkit-touch-callout: none;
}

.editWrapperOpen {
  right: 0;

  transition: var(--transition);
}

@media screen and ( max-width: 600px ) {
  .editWrapper {
    right: -105%;

    width: 100%;
  }

  .editWrapperOpen {
    right: 0;
  }
}
