.menuWrapper {
  padding: 8px 15px;
  border-bottom: 1px solid var(--border-second);
  background-color: var(--background-first);
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  transition: var(--transition);
  position: relative;
  margin-right: 7px;
  cursor: pointer;
}

.menu:hover {
  transition: var(--transition);
  background-color: var(--opacity-box);
}

.menuClick {
  transform: scale(0.95);
}

.line {
  pointer-events: none;
  width: 18px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--icon-first);
  display: block;
  position: absolute;
  top: 18px;
  left: 11px;
  transition: var(--transition);
}

.line::after {
  pointer-events: none;
  position: absolute;
  top: 5px;
  content: "";
  width: 18px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--icon-first);
  display: block;
  transition: var(--transition);
}

.line::before {
  pointer-events: none;
  position: absolute;
  top: -5px;
  content: "";
  width: 18px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--icon-first);
  display: block;
  transition: var(--transition);
}

.lineBack {
  top: 18px;
  width: 18px;
  transition: var(--transition);
  transform: rotate(180deg);
}

.lineBack::after {
  top: 4px;
  left: 7px;
  width: 12px;
  transform: rotate(-45deg);
  transition: var(--transition);
}

.lineBack::before {
  top: -4px;
  width: 12px;
  left: 7px;
  transform: rotate(45deg);
  transition: var(--transition);
}

.menuClose {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: -1;
  width: 300px;
  background-color: var(--opacity-box-second);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 10px;
  top: 55px;
  left: 15px;
  text-align: center;
  opacity: 0;
  transition: var(--transition);
}

.menuOpen {
  transition: var(--transition);
  z-index: 10;
  opacity: 1;
}

.menuCard {
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  width: 100%;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-first);
  text-align: left;
  transition: var(--transition);
  border-radius: 7px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.menuCard:hover {
  transition: var(--transition);
  background-color: var(--opacity-box);
}

.cardIcon {
  width: 23px;
  height: 23px;
}

.contact {
  width: 22px;
  height: 22px;
}

.logout {
  width: 23px;
  height: 21px;
}

.cardIcon path {
  fill: var(--icon-second);
}

input[type="checkbox"] {
  visibility: hidden;
}

.checkBox {
  width: 30px;
  height: 15px;
  background: var(--border-first);

  border-radius: 50px;
  position: relative;
}

.checkBox label {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-first);
  background: var(--white);

  border-radius: 50px;
  transition: var(--transition);
  cursor: pointer;
  position: absolute;
  top: -3px;
  left: -3px;
}

.checkBox input[type="checkbox"]:checked {
  background: var(--primary);
}

.checkBox input[type="checkbox"]:checked + label {
  left: 14px;
  border-color: var(--primary);
}

.checkBoxClick {
  background: var(--primary);
  transition: var(--transition);
}

.menuCardCheck {
  justify-content: space-between;
  padding: 3px 15px;
}

.menuCardCheck div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.creator {
  margin: 10px 0 5px;
  font-size: 15px;
  color: var(--primary);
}
