.menuChat {
  position: absolute;
  background-color: var(--opacity-box-second);
  backdrop-filter: blur(30px);
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: left top;
  transition: var(--transition);
}
.menuChatOn {
  transition: var(--transition);
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

.menuCard {
  display: flex;
  transition: var(--transition);
  border-radius: 5px;
  align-items: center;
  padding: 5px 15px;
  gap: 20px;
  cursor: pointer;
}

.menuCard:hover {
  transition: var(--transition);
  background-color: var(--opacity-box);
}

.menuCard p {
  color: var(--text-first);
  font-size: 14px;
  font-weight: 600;
}

.iconDeleteMenu {
  width: 20px;
  height: 20px;
  fill: var(--icon-second);
}
