.menuChat {
  position: absolute;
  z-index: 1;

  width: 200px;
  padding: 5px;

  user-select: none;
  transition: var(--transition);
  transform-origin: left top;
  pointer-events: none;

  opacity: 0;
  border-radius: 10px;
  background-color: var(--opacity-box-second);
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  backdrop-filter: blur(30px);
  -webkit-touch-callout: none;
}

.menuChatOn {
  z-index: 2;

  transition: var(--transition);
  pointer-events: all;

  opacity: 1;
}

.menuCard {
  display: flex;
  align-items: center;

  padding: 5px 15px;

  cursor: pointer;
  transition: var(--transition-static);

  border-radius: 5px;
  gap: 20px;
}

.menuCard:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.menuCard p {
  color: var(--text-first);

  font-size: 14px;
  font-weight: 600;
}

.iconDeleteMenu {
  width: 20px;
  height: 20px;
  fill: var(--icon-second);
}
