.settingsHead {
  position: relative;
  display: flex;
  padding: 8.5px 15px;
  background-color: var(--background-first);
  justify-content: space-between;
  align-items: center;
}

.settingsHead div {
  display: flex;
  align-items: center;
}

.settingsHead h2 {
  margin-left: 15px;
  font-size: 19px;
  pointer-events: none;
  color: var(--text-first);
}

.back {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transition: var(--transition-static);
}

.backCorrcet {
  padding: 5px;
}

.back:hover {
  transition: var(--transition-static);
  background-color: var(--opacity-box);
}

.backOn {
  background-color: var(--opacity-box);
}

.backIcon {
  width: 20px;
  height: 20px;
}

.removeIcon {
  width: 30px;
  height: 30px;
}

.backIcon path,
.removeIcon path {
  fill: var(--icon-first);
}

.edit {
  width: 40px;
  height: 40px;
  padding: 7.5px 3.5px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transition: var(--transition-static);
}

.edit:hover {
  transition: var(--transition-static);
  background-color: var(--opacity-box);
}

.editIcon {
  width: 25px;
  height: 25px;
}

.editIcon path {
  fill: var(--icon-first);
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: initial;
  cursor: pointer;
  transition: var(--transition-static);
}

.delete:hover {
  transition: var(--transition-static);
  background-color: var(--opacity-box);
}

.dot {
  pointer-events: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--icon-first);
}

.dot::before {
  pointer-events: none;
  content: "";
  display: block;
  margin-top: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--icon-first);
}

.dot::after {
  pointer-events: none;
  content: "";
  display: block;
  margin-top: -21px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--icon-first);
}

.deleteWrapper {
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: -40px;
  right: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--opacity-box-second);
  backdrop-filter: blur(30px);
  transition: var(--transition);
}

.openDelWrap {
  opacity: 1;
  pointer-events: all;
  transition: var(--transition);
}

.removeIcon {
  width: 20px;
  height: 20px;
  stroke: var(--icon-second);
}

.deleteButton {
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  background-color: initial;
  transition: var(--transition-static);
}

.deleteButton:hover {
  background-color: var(--opacity-box-dark);
  transition: var(--transition-static);
}
.deleteButton span {
  color: var(--icon-second);
  font-size: 14px;
  font-weight: 600;
}
