.settingsHead {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8.5px 15px;

  background-color: var(--background-first);
}

.settingsHead div {
  display: flex;
  align-items: center;
}

.settingsHead h2 {
  margin-left: 15px;

  pointer-events: none;

  color: var(--text-first);

  font-size: 19px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  margin-right: 10px;
  padding: 10px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 50%;
  background: none;
}

.backCorrect {
  padding: 5px;
}

.back:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.backOn {
  background-color: var(--opacity-box);
}

.backIcon {
  width: 20px;
  height: 20px;
}

.removeIcon {
  width: 20px;
  height: 20px;
  stroke: var(--icon-second);
}

.backIcon path,
.removeIcon path {
  fill: var(--icon-first);
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 7.5px 3.5px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 50%;
  background: none;
}

.edit:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.editIcon {
  width: 25px;
  height: 25px;
}

.editIcon path {
  fill: var(--icon-first);
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 50%;
  background-color: initial;
}

.delete:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.dot {
  width: 5px;
  height: 5px;

  pointer-events: none;

  border-radius: 50%;
  background-color: var(--icon-first);
}

.dot::before {
  display: block;

  width: 5px;
  height: 5px;
  margin-top: 8px;

  content: "";
  pointer-events: none;

  border-radius: 50%;
  background-color: var(--icon-first);
}

.dot::after {
  display: block;

  width: 5px;
  height: 5px;
  margin-top: -21px;

  content: "";
  pointer-events: none;

  border-radius: 50%;
  background-color: var(--icon-first);
}

.deleteWrapper {
  position: absolute;
  z-index: 1;
  right: 15px;
  bottom: -40px;

  padding: 5px;

  transition: var(--transition);
  pointer-events: none;

  opacity: 0;
  border-radius: 10px;
  background-color: var(--opacity-box-second);
  backdrop-filter: blur(30px);
}

.openDelWrap {
  transition: var(--transition);
  pointer-events: all;

  opacity: 1;
}

.deleteButton {
  display: flex;
  align-items: center;

  padding: 5px 20px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 5px;
  background-color: initial;
  gap: 20px;
}

.deleteButton:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box-dark);
}

.deleteButton span {
  color: var(--icon-second);

  font-size: 14px;
  font-weight: 600;
}
