.contactsWrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 420px;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 300px;
  max-width: 420px;
  height: 100vh;

  user-select: none;
  transition: var(--transition);

  background-color: var(--background-first);

  -webkit-touch-callout: none;
}

.contactWrapperOpen {
  z-index: 1;
  left: 0;

  transition: var(--transition);
}

.contactSearch {
  display: flex;

  padding: 9px 15px 5px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  height: 40px;
  margin-right: 10px;
  padding: 10px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 50%;
  background: none;
}

.back:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.backIcon {
  width: 20px;
  height: 20px;
}

.backIcon path {
  fill: var(--icon-first);
}

.contactsList {
  overflow-y: hidden;

  height: 95vh;
  padding: 3px 6px 0 8px;
}

.swiper {
  overflow-y: scroll;

  padding-right: 1px;
}

@media screen and ( max-width: 600px ) {
  .contactsWrapper {
    top: 0;
    left: 100%;

    max-width: 100%;
  }

  .contactWrapperOpen {
    left: 0;
  }
}
