.svg {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  fill: var(--primary);
}

.form {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 360px;
  margin: 100px auto 0;
  padding: 0 10px 50px;

  user-select: none;
  text-align: center;
  gap: 15px;
  -webkit-touch-callout: none;
}

.head {
  margin-top: 30px;

  cursor: default;

  font-size: 30px;
}

.text {
  cursor: default;

  color: var(--text-second);

  font-size: 15px;
  line-height: 1.5;
}

.login {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  gap: 30px;
}

.button {
  position: relative;

  padding: 18px 0;

  cursor: pointer;
  transition: var(--transition-static);

  color: var(--white);
  border: none;
  border-radius: 10px;
  background-color: var(--primary);

  font-size: 17px;
  font-weight: 600;
}

.button:hover {
  transition: var(--transition-static);

  background-color: var(--primary-dark);
}

.loading {
  position: absolute;
  stroke: var(--white);

  top: -24px;
  right: -24px;
}

.loading svg circle {
  stroke: var(--white);
}

.errorInput {
  border-color: var(--error);
}

.error {
  margin-top: -20px;

  color: var(--error);

  font-size: 13px;
}

.link {
  margin-top: -15px;

  cursor: default;
  pointer-events: none;

  color: var(--text-second);

  font-size: 14px;
}

.reg {
  cursor: pointer;
  pointer-events: all;

  color: var(--primary);
}

@media screen and ( max-width: 1000px ) {
  .form {
    margin-top: 100px;
  }
}

@media screen and ( max-width: 700px ) {
  .form {
    margin-top: 50px;
  }
}
