.message {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--primary-light);
  max-width: 480px;
  justify-content: flex-end;
  padding: 6px 10px;
  border-radius: 10px;
  align-self: end;
  margin-top: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.messageTextWrap {
  flex-direction: row;
}

.messageUser {
  align-self: start;
  background-color: var(--background-first);
}

.messageDown {
  margin-bottom: 10px;
}

.messageText {
  font-size: 16px;
  z-index: 1;
  pointer-events: none;
  cursor: text;
  word-break: break-all;
  pointer-events: none;
  color: var(--text-first);
}

.messageTextLen {
  margin-top: 8px;
  height: 0px;
}

.bottoMessage {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  pointer-events: none;
}

.messageEdit {
  font-style: italic;
  font-size: 12px;
  color: var(--text-seventh);
  z-index: 1;
}

.messageDate {
  font-size: 12px;
  color: var(--text-seventh);
  z-index: 1;
}

.messageStyleLeft,
.messageStyleRight {
  pointer-events: none;
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  bottom: 0;
  z-index: 0;
  background-color: var(--primary-light);
}

.messageStyleLeft::before,
.messageStyleRight::before {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--primary-middle);
  border-radius: 50%;
  right: -10px;
  bottom: -1px;
}

.messageStyleLeft::after,
.messageStyleRight::after {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--primary-middle);
  bottom: 10px;
  right: -10px;
}

.messageStyleRight {
  right: auto;
  left: -10px;
  background-color: var(--background-first);
}

.messageStyleRight::after {
  right: auto;
  left: -10px;
}

.messageStyleRight::before {
  right: auto;
  left: -10px;
}
