.menuWrapper {
  display: flex;

  min-width: 300px;
  padding: 8px 15px;

  user-select: none;

  border-bottom: 1px solid var(--border-second);
  background-color: var(--background-first);
  -webkit-touch-callout: none;
}

.menu {
  position: relative;

  min-width: 40px;
  height: 40px;
  margin-right: 7px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 50%;
  background-color: inherit;
}

.menu:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.line {
  position: absolute;
  top: 18px;
  left: 11px;

  display: block;

  width: 18px;
  height: 2px;

  transition: var(--transition);
  pointer-events: none;

  border-radius: 30px;
  background-color: var(--icon-first);
}

.line::after {
  position: absolute;
  top: 5px;

  display: block;

  width: 18px;
  height: 2px;

  content: "";
  transition: var(--transition);
  pointer-events: none;

  border-radius: 30px;
  background-color: var(--icon-first);
}

.line::before {
  position: absolute;
  top: -5px;

  display: block;

  width: 18px;
  height: 2px;

  content: "";
  transition: var(--transition);
  pointer-events: none;

  border-radius: 30px;
  background-color: var(--icon-first);
}

.lineBack {
  top: 18px;

  width: 18px;

  transition: var(--transition);
  transform: rotate(180deg);
}

.lineBack::after {
  top: 4px;
  left: 7px;

  width: 12px;

  transition: var(--transition);
  transform: rotate(-45deg);
}

.lineBack::before {
  top: -4px;
  left: 7px;

  width: 12px;

  transition: var(--transition);
  transform: rotate(45deg);
}

.menuClose {
  position: absolute;
  z-index: -1;
  top: 55px;
  left: 15px;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;
  padding: 5px;

  transition: var(--transition);
  text-align: center;

  opacity: 0;
  border-radius: 10px;
  background-color: var(--opacity-box-second);
  box-shadow: 0 0 3px rgb(0 0 0 / 30%);
  backdrop-filter: blur(30px);
}

.menuOpen {
  z-index: 10;

  transition: var(--transition);

  opacity: 1;
}

.creator {
  margin: 10px 0 5px;

  color: var(--primary);

  font-size: 15px;
}

@media screen and ( max-width: 400px ) {
  .menuClose {
    max-width: 250px;
  }
}
