.userPhoto {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 240px;

  color: var(--white);

  font-size: 40px;
}

.wrapperImage {
  overflow: hidden;

  width: 100%;
  max-width: 420px;
  height: 240px;
}

.userImageWrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 420px;
  height: 240px;
}

.userImage {
  display: block;

  min-width: 420px;
  height: 240px;

  user-select: none;
  pointer-events: none;

  background-position: center;
  object-fit: cover;
}

.buttonWrapperRemove {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;

  cursor: pointer;
  transition: var(--transition-static);

  border: none;
  border-radius: 50%;
  background: none;
}

.buttonWrapperRemove:hover {
  transition: var(--transition-static);

  background: var(--opacity-box-dark);
}

.removeIconButton {
  width: 40px;
  height: 40px;
  fill: var(--text-eighth);
}

.iconButton {
  fill: rgb(255 255 255 / 50%);

  width: 40px;
  height: 40px;

  transition: var(--transition-static);
}

.iconButton:hover {
  transition: var(--transition-static);
  fill: var(--white);
}

.photoFIO {
  position: absolute;
  bottom: 15px;
  left: 25px;

  display: flex;
  flex-direction: column;

  width: 85%;

  user-select: none;
  pointer-events: none;

  font-size: 19px;
  font-weight: 600;
  gap: 5px;
}

.photoFIO p {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.userOnline {
  color: var(--text-eighth);

  font-size: 14px;
}

.uploadWrapper {
  position: absolute;
  right: 20px;
  bottom: -25px;
}

.uploadPhoto {
  position: relative;

  overflow: hidden;

  min-width: 55px;
  height: 55px;

  border: none;
  border-radius: 50%;
  background: none;
}

.iconPhotoWrapper {
  position: absolute;
  z-index: 1;
  top: -1px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 55px;
  height: 56px;

  cursor: pointer;
  transition: var(--transition-static);

  border-radius: 50%;
  background-color: var(--primary);
}

.iconPhotoWrapper:hover {
  transition: var(--transition-static);

  background-color: var(--primary-dark);
}

.uploadPhoto svg {
  width: 25px;
  height: 25px;
}

.uploadPhoto svg path {
  fill: var(--white);
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  width: 55px;
  height: 55px;

  cursor: pointer;
}

.infoLast {
  display: flex;
  flex-direction: column;

  padding: 10px;

  background-color: var(--background-first);
  box-shadow: 0 0 5px var(--opacity-box-dark);
}

.info {
  display: flex;

  width: 100%;
  padding: 10px 15px;

  cursor: pointer;
  transition: var(--transition-static);

  border-radius: 10px;
  gap: 20px;
}

.info:hover {
  transition: var(--transition-static);

  background-color: var(--opacity-box);
}

.iconInfo {
  width: 26px;
  height: 26px;
  stroke: var(--icon-first);
}

.info > span {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: 100%;
  gap: 5px;
}

.firstInfo {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--text-first);

  font-size: 17px;
}

.secondInfo {
  color: var(--text-sixth);

  font-size: 14px;
}

@media screen and ( max-width: 600px ) {
  .userPhoto {
    height: 350px;
  }

  .wrapperImage {
    overflow: hidden;

    width: 100%;
    max-width: 600px;
    height: 350px;
  }

  .userImageWrapper {
    display: block;

    width: 100vw;
    max-width: 600px;
    height: 350px;
  }

  .userImage {
    display: block;

    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: 350px;
  }
}

@media screen and ( max-width: 450px ) {
  .userPhoto {
    height: 300px;
  }

  .wrapperImage {
    height: 300px;
  }

  .userImageWrapper {
    height: 300px;
  }

  .userImage {
    height: 300px;
  }
}
