.chatsWrapper {
  display: flex;
  overflow-x: hidden;
  overflow-y: overlay;
  align-items: center;
  flex-direction: column-reverse;

  width: 100%;
  height: 100vh;
  padding: 10px;
}

.messageWrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 500px;
  min-height: min-content;
}

.buttonLoadMessage {
  width: 150px;
  margin: 20px auto;
  padding: 8px 0;

  cursor: pointer;
  transition: var(--transition-static);

  color: var(--white);
  border: none;
  border-radius: 10px;
  background: var(--primary);

  font-size: 14px;
  font-weight: 600;
}

.wrapperWithDate {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.dateMessage {
  width: 110px;
  margin: 10px auto;
  padding: 5px 10px;

  user-select: none;
  text-align: center;

  color: var(--text-sixth);
  border-radius: 10px;
  background-color: var(--background-second);

  font-size: 14px;

  -webkit-touch-callout: none;
}
