:root {
  --light-li: #e7ebf0;
  --dark-li: #222;
  --gray-li: #999;
  --blue-li: #3390ec;
  --blue-dark-li: #3685d4;
  --light-blue-li: #84a2c8;
  --dark-blue-li: #5580a3;
  --dark-da: #0e1621;
  --dark-gray-da: #17212b;
  --gray-light-da: #768c9e;
  --light-da: #f5f5f5;
  --gray-da: #232e3c;
  --blue-da: #5288c1;
  --error: #d94848;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: white;
  color: var(--dark);
}
