:root {
  --light: #f5f5f5;
  --dark: #17212b;

  --gray: #707579;
  --gray-dark: #c5c5c5;
  --gray-light: #e1e3e6;

  --blue: #3390ec;
  --blue-dark: #3685d4;

  --error: #d94848;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: white;
  color: var(--dark);
}
