.messageWrapperEdit {
  position: absolute;
  z-index: 2;

  display: flex;
  flex-direction: column;

  width: 200px;
  padding: 5px;

  user-select: none;
  transition: var(--transition);
  transform-origin: left top;
  pointer-events: none;

  opacity: 0;
  border-radius: 10px;
  background-color: var(--opacity-box-second);
  box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
  backdrop-filter: blur(30px);

  -webkit-touch-callout: none;
}

.messageWrapperEditOn {
  transition: var(--transition);
  transform-origin: left top;
  pointer-events: all;

  opacity: 1;
}

.editMessagePerson {
  display: flex;

  padding: 5px 15px;
  gap: 20px;

  cursor: pointer;
}

.editMessagePerson p {
  color: var(--icon-second);

  font-size: 14px;
  font-weight: 600;
}

.editMessagePerson:hover {
  border-radius: 5px;
  background-color: var(--opacity-box);
}

.editIconMessage {
  fill: var(--icon-second);

  width: 20px;
  height: 20px;
}

.editIconMessageE {
  width: 21px;
  height: 21px;
}

.editIconMessageE path {
  width: 21px;
  height: 21px;
  fill: var(--icon-second);
}

.deleteMessage p {
  color: var(--error);
}

.deleteMessage .editIconMessage {
  fill: var(--error);
}

.deleteMessage:hover {
  background-color: rgb(217 72 72 / 20%);
}
