.settingsWrapper {
  position: absolute;
  top: 0;
  right: -425px;
  width: 420px;
  height: 100vh;
  background-color: var(--light);
  display: flex;
  transition: all 0.3s;
  z-index: 1;
  flex-direction: column;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile {
  width: 320px;
  position: relative;
  right: 0px;
  border-left: 1px solid var(--gray-light);
}

.settingsWrapperOpen {
  right: 0px;
  transition: all 0.3s;
}

.settingsHead {
  position: relative;
  display: flex;
  padding: 8px 15px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
.settingsHead div {
  display: flex;
  align-items: center;
}

.settingsHead h2 {
  margin-left: 15px;
  font-size: 19px;
  pointer-events: none;
}

.back {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.back:hover {
  transition: all 0.3s;
  background-color: var(--light);
}

.remove {
  padding: 5px;
}

.back path {
  fill: var(--gray);
}

.edit {
  width: 40px;
  height: 40px;
  padding: 7.5px 3.5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.edit:hover {
  transition: all 0.3s;
  background-color: var(--light);
}

.edit path {
  fill: var(--gray);
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: initial;
  cursor: pointer;
  transition: all 0.3s;
}

.delete:hover {
  transition: all 0.3s;
  background-color: var(--light);
}

.dot {
  pointer-events: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--gray);
}

.dot::before {
  pointer-events: none;
  content: "";
  display: block;
  margin-top: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--gray);
}

.dot::after {
  pointer-events: none;
  content: "";
  display: block;
  margin-top: -21px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--gray);
}

.deleteWrapper {
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: -40px;
  right: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--light);
  transition: all 0.3s;
}

.openDelWrap {
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s;
}

.removeIcon {
  width: 20px;
  height: 20px;
  stroke: var(--dark);
}

.deleteButton {
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  background-color: initial;
  transition: all 0.3s;
}

.deleteButton:hover {
  background-color: var(--gray-light);
  transition: all 0.3s;
}
.deleteButton span {
  color: var(--dark);
  font-size: 14px;
  font-weight: 600;
}

.userPhoto {
  position: relative;
  width: 100%;
  height: 240px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 40px;
}

.photoFIO {
  position: absolute;
  font-size: 19px;
  display: flex;
  gap: 5px;
  font-weight: 600;
  bottom: 30px;
  left: 25px;
  width: 85%;
}

.photoFIO p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infoLast {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  gap: 20px;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.info:hover {
  transition: all 0.3s;
  background-color: var(--light);
}

.iconInfo {
  width: 26px;
  height: 26px;
  stroke: var(--gray);
}

.info > span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  overflow: hidden;
}

.firstInfo {
  color: var(--dark);
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.secondInfo {
  font-size: 14px;
  color: var(--gray);
}
